.inline {
    display: inline;
    background-color: teal;
    color: white;
    padding: 20px;
}
.inline-block {
    display: inline-block;
    background-color: grey;
    color: white;
    padding: 20px;
    position: relative;
    left: 50px;
}
.block {
    display: block;
    background-color: green;
    color: black;
    width: 200px;
    height: 50px;
}
