.grid {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 3px;
}

.grid > div {
    background-color: teal;
    color: white;
    padding: 20px;
    text-align: center;
    border: 3px solid #000000;
    margin-top: 40px;
    font-style: italic;
    font-weight: bold;
}
