.this, .is, .my, .profile {
    color: blue;
    font-size: 40px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-shadow: 2px 2px 4px #000000;
    margin: 20px;
}
.this:link {
    color: red;
}
.is:visited {
    color: green;
}
.my:hover {
    color: orange;
}
.profile:active {
    color: purple;
}
