
input,button {
  padding: 10px;
  margin: 10px;
  font-size: 16px;
  border: 3px solid white;
  border-radius: 9px;
}
input:hover{
  background-color: #74ebd5
}
button{
  background-color: teal;
  padding: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: none;
  border-radius: 15px;
  font-weight: bold;
  cursor: pointer;
  
}
button:hover{
  color: white;
  background-color: #74ebd5;
}
h1,h2,h3{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
  font-style: italic;
}


body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #74ebd5, #ACB6E5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  text-align: center;
}
